
<%= simple_form_for(@owner) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :last_name %>
    <%= f.input :first_name %>
    <%= f.input :gender %>
    <%= f.input :phone %>
    <%= f.input :per_add %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
