<p id="notice"><%= notice %></p>

<h1>Tsconnects</h1>

<table>
  <thead>
    <tr>
      <th>Billing</th>
      <th>Shop</th>
      <th>Tenant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tsconnects.each do |tsconnect| %>
      <tr>
        <td><%= tsconnect.billing.amount %></td>
        <td><%= tsconnect.shop.amount %></td>
        <td><%= tsconnect.tenant.first_name %></td>
        <td><%= link_to 'Show', tsconnect %></td>
        <td><%= link_to 'Edit', edit_tsconnect_path(tsconnect) %></td>
        <td><%= link_to 'Destroy', tsconnect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tsconnect', new_tsconnect_path %>
