<p id="notice"><%= notice %></p>

<h1>T S Connects</h1>

<table>
  <thead>
    <tr>
      <th>Billing</th>
      <th>Shop</th>
      <th>Tenant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @t_s_connects.each do |t_s_connect| %>
      <tr>
        <td><%= t_s_connect.billing %></td>
        <td><%= t_s_connect.shop %></td>
        <td><%= t_s_connect.tenant %></td>
        <td><%= link_to 'Show', t_s_connect %></td>
        <td><%= link_to 'Edit', edit_t_s_connect_path(t_s_connect) %></td>
        <td><%= link_to 'Destroy', t_s_connect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New T S Connect', new_t_s_connect_path %>
